<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href = "../public/css/login.css">
</head>
<body>
    <div class = "container">
        <div class = "container-form"> 
            <form class="sign-in">

                <h2>Iniciar Sesión</h2>
                <div class = "social-networks">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                </div>
                <span>Use su usuario y contraseña</span>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input id="username-signin" type="text" placeholder="User" required>
                </div>

                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input id="pass-signin" type="password"  placeholder="Password" required>
                </div>
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button class="button" type="submit">INICIAR SESIÓN</button>
            </form>

        </div>
        <div class = "container-form"> 
            <form class="sign-up">

                <h2>Registrarse</h2>
                <div class="social-networks">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                    <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                </div>
                <span>Use su correo electrónico para registrarse</span>
                <div class="container-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <input id="nombre" type="text" placeholder="Nombre" required>
                </div>
                <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input id="email-signup" type="text" placeholder="Email" required>
                </div>
                <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input id="pass-signup" type="password" placeholder="Password" required>
                </div>
                <button class="button" type="submit" >REGISTRARSE</button>
            </form>

        </div>
        <div class="container-welcome">
            <div class="welcome-sign-up welcome">
                <h3>¡Bienvenido!</h3>
                <p>Ingrese sus datos personales</p>
                <button class="button" id="btn-sign-up">REGISTRARSE</button>
            </div>
            <div class="welcome-sign-in welcome">
                <h3>¡Hola!</h3>
                <p>Registrate con tus datos personales</p>
                <button class="button" id="btn-sign-in">INICIAR SESIÓN</button>
            </div>

            
        </div>
    </div>

    <script type="module">
        import { checkAuth } from "../public/js/auth-guard.js";
        checkAuth(false);
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script type="module" src="/public/js/login.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>
